.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  margin: 0 auto;

  &-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
  }

  &-wrapper {
    margin: 0 auto;

    &-box {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 50px;
      margin: 0 auto;
      border: 6px solid #1C86EE;

      &-item {
        flex-direction: column;
        justify-content: center;

        &-title {
          text-align: center;
          text-wrap: wrap;
        }
      }
    }
  }


}
