/** 주 사용 색상 */
$background-color: #282C34;
$white: #fff;
$point-color: #1E90FF;
$point-hover-color: #1C86EE;
$point-active-color: #1874CD;

/** 임시 보조 색상 */
$test-color : #FFD700;
$test-hover-color: #FFC700;
$test-active-color: #E5B800;