/** 주 사용 색상 */
$background-color: #1d222c;
$white: #fff;
$point-color: #1C86EE; 
$point-hover-color: #ececec;
$point-active-color: #1874CD;

/** 임시 보조 색상 */
$test-color : #FFD700;
$test-hover-color: #FFC700;
$test-active-color: #E5B800;