.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px;
  

  &-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    padding: 50px;
    border: 6px solid #1C86EE;
   
    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &-image {
      object-fit: cover;
      object-position: center center;
    }
  }
}