.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 20px;
  

  &-title {
    margin-top: 30px;
    margin-bottom: 150px;
    font-size: 40px;
    text-align: center;
  }

  &-wrapper {
    display:flex;
    flex-direction: column;
    gap: 150px;

    &-box {
      display: flex;
      gap: 50px;
      padding: 30px;
  
      &:nth-child(odd) {
        align-self: flex-start;
      }
    
      &:nth-child(even) {
        align-self: flex-end;
      }
    }

    &-image {
      object-fit: cover;
      object-position: center center;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 50%);
      transition: transform 0.3s ease; /* 부드러운 이동을 위해 transition 설정 */
      
      &:hover {
        transform: translate(10px, -10px);/* 이미지를 위로 10px 이동 */
      }
    }

    &-textSection {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;

      &-text {
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
      }

      &-skill {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-text {
          padding: 5px;
          background-color:  #637180;
          border-radius: 30px;
        }
       
      }
    }
  }
}