.me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  margin: 0 auto;
  
  &-title {
    margin-top: 30px;
    margin-bottom: 90px;
    font-size: 40px;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.career {
  margin: 0 auto;
  text-align: center;

  &-title {
    font-size: 28px;
  }
}

.internship {
  padding: 20px;
  

  h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
  }

  .company {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .date {
    margin-left: 8px;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }

  .project {
    margin-top: 15px;

    &-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;

      span {
        font-size: 14px;
        color: #555;
        margin-left: 8px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 1.6;
      margin-left: 20px;
      list-style-type: disc;
      list-style-position: outside;

      li {
        margin-bottom: 5px;
      }
    }
  }
}

.highlight {
  background-color: rgb(241, 241, 190);
  padding: 0 5px;
  border-radius: 3px;
  font-size: inherit;
  color: black;
  font-weight: bold;
}

.experiences {
  padding: 20px;
  

  h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
  }

  .item {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }

  .date {
    margin-left: 8px;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
}